<link href="../static/style.css" rel="stylesheet">
<table>
	<tr>
		<td>
			<h2>Центральный офис компании</h2>
			<ul class="menu">
				<li> 350015, Краснодарский край, г. Краснодар, ул. Новокузнечная, д. 40, оф. 68<p>
			</ul>
			
		</td>
	</tr>
	<tr>
		<td>
			<h2>Телефоны</h2>
			<ul class="menu">
				<li> Единый номер для звонков по РФ <br> 8 (800) 1-007-007 <p>
				<li> Доп. номер горячей линии <br>+7 (495) 981-96-33 <p>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<h2>Электронный адрес</h2>
			<ul class="menu">
				<li> company@skgelios.ru <p>
			</ul>
			
		</td>
	</tr>			
</table>

<div style="position:relative;overflow:hidden;" align="center">
<a href="https://yandex.ru/maps/35/krasnodar/?utm_medium=mapframe&utm_source=maps" 
style="color:#eee;font-size:12px;position:absolute;top:0px;">Краснодар</a>
<a href="https://yandex.ru/maps/35/krasnodar/?from=api-maps&ll=38.984650%2C45.040086&mode=routes&origin=jsapi_2_1_79&rtext=~45.040095%2C38.984269&rtt=auto&ruri=~&utm_medium=mapframe&utm_source=maps&z=15.4" 
style="color:#eee;font-size:12px;position:absolute;top:14px;">Новокузнечная улица, 40: как доехать на автомобиле, общественным транспортом или пешком – Яндекс Карты</a>
<iframe src="https://yandex.ru/map-widget/v1/?from=api-maps&ll=38.984650%2C45.040086&mode=routes&origin=jsapi_2_1_79&rtext=~45.040095%2C38.984269&rtt=auto&ruri=~&z=15.4" 
width="500" height="350" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>