<link href="static/style.css" rel="stylesheet">
<h1>Лицензии</h1>
<table>
	<tr>
		<td width="33%" align="center"><a href="../static/docs/ВСС.pdf">Свидетельство о членстве в ВСС</a></td><p>
		<td width="33%" align="center"><a href="../static/docs/Лицензия СЛ №0397 на осуществление страхования.pdf">Лицензия СЛ №0397 на осуществление страхования</a></td><p>
		<td width="33%" align="center"><a href="../static/docs/Свидетельство ИСО_30.07.2021.jpg">Свидетельство ИСО</a></td><p>
	</tr>
</table>
